{{#if addNewPost}}
  <h1>New Post</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        {{input value=text id="text"}}
      </div>

      <div class="form-group">
        <label for="username">User Name</label>
        {{input value=username id="username"}}
      </div>

      <button {{action 'savePost' post}}>Save</button>
    </form>
  </div>

{{else}}
    <button {{action 'postFormShow'}}>New Post</button>
{{/if}}
