<h2>{{model.title}}</h2>
<p>by {{model.username}}</p>

<h5>{{model.text}}</h5>

<p>Posted on {{model.date_added}}</p>

{{update-post post=model updatePost="updatePost"}}

<button {{action 'deletePost' model}}>Delete</button>
